@import url("https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  background: rgb(248, 248, 248);
}

.App-header {
  color: #434343;
  font-size: 40px;
  font-family: "Montserrat Subrayada", sans-serif;
  text-align: center;
  margin-top: 30px;
}

footer {
  font-family: "Montserrat", sans-serif;
  padding: 80px;
  text-align: center;
}

.FooterLink:link,
.FooterLink:visited {
  text-decoration: none;
  color: #efb03b;
}

.FooterLink:visited {
  text-decoration: none;
}

.FooterLink:hover {
  text-decoration: underline;
}
